* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  text-align: center;
  color: #e3dbdb;
  background-color: #121212;
}

main {
  height: 100vh;
}

h1 {
  margin-block: 1rem;
}
.main-slideshow {
  position: relative;
  width: 80%;
  margin: 0.5rem auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

figure {
  position: relative;
}
.description-main {
  position: absolute;
  width: 40%;
  right: 0;
  text-align: left;
  margin-top: 1rem;
  margin-right: 15rem;
  color: #fff;
  z-index: 2;
}
h3,
p {
  display: none;
}
.current-pic {
  display: flex;
  justify-content: center;
}

img {
  display: none;
  width: 750px;
  max-height: 400px;
}

.thumbnail-pics {
  width: 750px;
  display: flex;
  justify-content: center;
  position: relative;
}
.arrs {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 700px;
  bottom: 5%;
}
.fa-circle-chevron-left,
.fa-circle-chevron-right {
  font-size: 2rem;
  color: #fff;
  opacity: 0.8;

  cursor: pointer;
}

.thumbnail-img {
  display: block;
  width: calc(750px / 6);
  height: inherit;
  opacity: 0.6;
  cursor: pointer;
}

img.thumbnail-img:hover {
  opacity: 0.8;
}

.active {
  display: block;
}

.thumb-active {
  opacity: 1;
}
